.container--tabs {
  margin: 2rem;
}
.container--tabs .nav-tabs {
  float: left;
  width: 100%;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}
.container--tabs .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.container--tabs .nav-tabs > li > a {
  float: left;
  margin-right: 2px;
  line-height: 1.42857143;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.container--tabs .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.container--tabs .nav-tabs > li.active > a,
.container--tabs .nav-tabs > li.active > a:hover,
.container--tabs .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.container--tabs .tab-content {
  float: left;
  width: 100%;
}
.container--tabs .tab-content > .tab-pane {
  display: none;
}
.container--tabs .tab-content > .tab-pane.active {
  display: block;
  padding: 2.5% 3.5%;
  background-color: #efefef;
}
.container--tabs .tab-content > .active {
  display: block;
}

.u-block-e544-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e544-3 {
  position: absolute;
  left: 0;
}

.u-block-e544-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-1-2 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-1-3 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-1-4 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-1-5 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 500px;
  }
}

img{
  zoom: 50%;
}